USE [JOUHOU_T]
GO
/****** Object:  Table [dbo].[GROUP_T]    Script Date: 10/11/2019 1:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP_T](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_NAME] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JOUHOU_T]    Script Date: 10/11/2019 1:49:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOUHOU_T](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PATIENTS_NAME] [nvarchar](10) NOT NULL,
	[PATIENTS_ADDRESS] [nvarchar](20) NULL,
	[GROUP_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[GROUP_T] ON 

INSERT [dbo].[GROUP_T] ([ID], [GROUP_NAME]) VALUES (8, 1)
INSERT [dbo].[GROUP_T] ([ID], [GROUP_NAME]) VALUES (9, 2)
INSERT [dbo].[GROUP_T] ([ID], [GROUP_NAME]) VALUES (10, 9)
SET IDENTITY_INSERT [dbo].[GROUP_T] OFF
SET IDENTITY_INSERT [dbo].[JOUHOU_T] ON 

INSERT [dbo].[JOUHOU_T] ([ID], [PATIENTS_NAME], [PATIENTS_ADDRESS], [GROUP_ID]) VALUES (10, N'Test', N'Nha Trang', 8)
INSERT [dbo].[JOUHOU_T] ([ID], [PATIENTS_NAME], [PATIENTS_ADDRESS], [GROUP_ID]) VALUES (13, N'Test1', N'Khanh Hoa', 9)
INSERT [dbo].[JOUHOU_T] ([ID], [PATIENTS_NAME], [PATIENTS_ADDRESS], [GROUP_ID]) VALUES (15, N'Test2', N'Nha Trang', 8)
SET IDENTITY_INSERT [dbo].[JOUHOU_T] OFF
ALTER TABLE [dbo].[JOUHOU_T]  WITH CHECK ADD  CONSTRAINT [FK__JOUHOU_T__GROUP___1273C1CD] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUP_T] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JOUHOU_T] CHECK CONSTRAINT [FK__JOUHOU_T__GROUP___1273C1CD]
GO
